trunk/src/main/resources/sp2013xsd/appmanifest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://schemas.microsoft.com/sharepoint/2012/app/manifest"
    elementFormDefault="qualified"
    xmlns="http://schemas.microsoft.com/sharepoint/2012/app/manifest"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- App Element -->
  <xs:element name="App" type="AppDefinition">
    <xs:annotation>
      <xs:documentation>The top level node of a SharePoint App Manifest.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <!-- ComplexType Definitions-->
  <xs:complexType name="AppDefinition">
    <xs:all>
      <xs:element name="AppPrincipal" type="AppPrincipalDefinition" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The app principal information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppPermissionRequests" type="AppPermissionRequestsDefinition" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A list of resources that a SharePoint App needs access to.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Properties" type="PropertiesDefinition" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Contains information that is global to the app.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RemoteEndpoints" type="RemoteEndpointsDefinition" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>(Optional) A list of remote endpoints the SharePoint App may access through SP.WebProxy.invoke().
          If this list is empty or not provided, the SharePoint App will not be able to use any remote endpoint through SP.WebProxy.invoke().</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppPrerequisites" type="AppPrerequisiteCollection" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A list of prerequisites that a SharePoint App depends on.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
    <xs:attribute name="ProductID" type="GUID" use="required">
      <xs:annotation>
        <xs:documentation>The unique identifier of the SharePoint App. ProductID does not change between versions.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Type" type="TypeDefinition" use="optional">
      <xs:annotation>
        <xs:documentation>The type of the SharePoint App.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Version" type="VersionDefinition" use="required">
      <xs:annotation>
        <xs:documentation>The Version of the SharePoint App.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SharePointMinVersion" type="VersionDefinition" use="required">
      <xs:annotation>
        <xs:documentation>The minimum version of SharePoint that the app is compatible with.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SharePointMaxVersion" type="VersionDefinition" use="optional">
      <xs:annotation>
        <xs:documentation>Optional.The maximum version of SharePoint that the app is compatible with.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Name" type="NameDefinition" use="required">
      <xs:annotation>
        <xs:documentation>The name of the SharePoint App. Name is not localized, and is used in Urls that address App artifacts.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="AppPrincipalDefinition">
    <xs:annotation>
      <xs:documentation>
        The app principal definition.
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="RemoteWebApplication">
        <xs:complexType>
          <xs:annotation>
            <xs:documentation>The app principal is associated with a remote web application.</xs:documentation>
          </xs:annotation>
          <xs:attribute name="ClientId" type="AppPermissionAppPrincipalDefinition" use="required">
            <xs:annotation>
              <xs:documentation>The client id of the app principal.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Internal">
        <xs:complexType>
          <xs:annotation>
            <xs:documentation>The app principal only use SharePoint internal resources.</xs:documentation>
          </xs:annotation>
          <xs:attribute name="AllowedRemoteHostUrl" type="ManifestUri" use="optional">
            <xs:annotation>
              <xs:documentation>The allowed remote host URL of the app principal.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="RedirectUrl" type="ManifestUri" use="optional">
            <xs:annotation>
              <xs:documentation>The redirect URL of the app principal.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="AutoDeployedWebApplication">
        <xs:complexType>
          <xs:annotation>
            <xs:documentation>The app principal is for auto deployed web application.</xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element minOccurs="0" name="DebugInfo" type="AutoDeployedWebApplicationDebugInfoDefinition">
              <xs:annotation>
                <xs:documentation>The app principal information used for debugging purpose.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AutoDeployedWebApplicationDebugInfoDefinition">
    <xs:annotation>
      <xs:documentation>The app principal information used for debugging purpose.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="AppUrl" type="AutoDeployedWebApplicationDebugInfoAppUrlDefinition" use="required">
      <xs:annotation>
        <xs:documentation>The host URL of the app principal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ClientSecret" use="required">
      <xs:annotation>
        <xs:documentation>The secret of the app principal.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:base64Binary">
          <xs:length value="32" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="RedirectUri" use="optional" type="ManifestUri">
      <xs:annotation>
        <xs:documentation>The redirect URL of the app principal.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PropertiesDefinition">
    <xs:all>
      <xs:element name="InstalledEventEndpoint" type="UrlElementDefinition" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The Url of the installed event receiver endpoint.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StartPage" type="UrlElementDefinition" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The Url of the page visited when the SharePoint App is launched.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupportedLanguages" type="SupportedLanguagesDefinition" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The semi-colon delimited list of language culture combinations that this App supports. E.g. en-US;ja-JP;
            This is deprecated. SupportedLocales is the supported element.
            If both SupportedLanguages and SupportedLocales are specified, SupportedLocales will be used.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupportedLocales" type="SupportedLocalesDefinition" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>List of locales that this App supports.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Title" type="TitleDefinition" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The title of the SharePoint App.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UninstallingEventEndpoint" type="UrlElementDefinition" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The Url of the uninstalling event receiver endpoint.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UpgradedEventEndpoint" type="UrlElementDefinition" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The Url of the upgraded event receiver endpoint.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WebTemplate" type="WebTemplateDefinition" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The web template to use when creating an App web.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SettingsPage" type="UrlElementDefinition" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The Url of the page visited when the SharePoint App settings needs to be viewed or updated.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="UrlElementDefinition">
    <xs:simpleContent>
      <xs:extension base="ManifestUri">
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AppPermissionRequestsDefinition">
    <xs:sequence>
      <xs:element name="AppPermissionRequest" type="AppPermissionRequestDefinition" minOccurs="0" maxOccurs="1000">
        <xs:annotation>
          <xs:documentation>The app permission requests.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AllowAppOnlyPolicy" type="xs:boolean" use="optional" >
      <xs:annotation>
        <xs:documentation>Whether to allow the app to use app-only policy.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="AppPermissionRequestDefinition">
    <xs:sequence>
      <xs:element name="Property" type="AppPermissionPropertyDefinition" minOccurs="0" maxOccurs="1000">
        <xs:annotation>
          <xs:documentation>App Permission Property.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Scope" type="xs:anyURI" use="required">
      <xs:annotation>
        <xs:documentation>The Scope permission being requested.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Right" type="AppPermissionRightDefinition">
      <xs:annotation>
        <xs:documentation>The Right of the permission being requested.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="AppPermissionPropertyDefinition">
    <xs:attribute name="Name" type="xs:string" >
      <xs:annotation>
        <xs:documentation>The property name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Value" type="xs:string" >
      <xs:annotation>
        <xs:documentation>The property value.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="WebTemplateDefinition">
    <xs:attribute name="Id" type="WebTemplateIdDefinition" use="required">
      <xs:annotation>
        <xs:documentation>The Id of the WebTemplate that should be used when creating the App Web.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="FeatureId" type="GUID" use="optional">
      <xs:annotation>
        <xs:documentation>The Id of the Feature that contains the WebTemplate.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="RemoteEndpointsDefinition">
    <xs:sequence>
      <xs:element name="RemoteEndpoint" type="RemoteEndpointDefinition" minOccurs="0" maxOccurs="20">
        <xs:annotation>
          <xs:documentation>Declares an individual remote endpoint that the SharePoint App may access through SP.WebProxy.invoke().</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RemoteEndpointDefinition">
    <xs:attribute name="Url" type="ManifestUri">
      <xs:annotation>
        <xs:documentation>Only the authority part (scheme, host, and port) is significant, i.e. the path part is ignored.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="SupportedLocalesDefinition">
    <xs:sequence>
      <xs:element name="SupportedLocale" type="SupportedLocaleDefinition" minOccurs="1" maxOccurs="256">
        <xs:annotation>
          <xs:documentation>Declares an individual locale that the app supports.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SupportedLocaleDefinition">
    <xs:attribute name="CultureName" type="CultureNameDefinition" use="required">
      <xs:annotation>
        <xs:documentation>The Culture Name for the locale that the app supports. Ex: en-us</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Prerequisites Definition-->
  <xs:complexType name="AppPrerequisiteCollection">
    <xs:sequence>
      <xs:element maxOccurs="500" name="AppPrerequisite" type="AppPrerequisite"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AppPrerequisite">
    <xs:attribute name="Type" type="AppPrerequisiteTypeDefinition" use="required">
      <xs:annotation>
        <xs:documentation>The type of the app prerequisite.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ID" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>The ID that identifies a feature, service, or ability that the SharePoint App depends on.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MinimumVersion" type="VersionDefinition" use="optional" >
      <xs:annotation>
        <xs:documentation>The minimum version of the feature or service the SharePoint App depends on.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- SimpleType Definitions-->
  <xs:simpleType name="RestrictedInt">
    <xs:restriction base="xs:int">
      <xs:minExclusive value="0"/>
      <xs:maxInclusive value="2000"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ManifestUri">
    <xs:restriction base="xs:anyURI">
      <xs:minLength value="1"/>
      <xs:maxLength value="2083"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DescriptionDefinition">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1024"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TypeDefinition">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SupportedLanguagesDefinition">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2048"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CultureNameDefinition">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TitleDefinition">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="WebTemplateIdDefinition">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="128"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AppPermissionRightDefinition">
    <xs:annotation>
      <xs:documentation>The permission to be requested by the app.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AppPermissionAppPrincipalDefinition">
    <xs:annotation>
      <xs:documentation>The app principal identifier.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NameDefinition">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="64" />
      <xs:whiteSpace value="collapse"/>
      <xs:pattern value="[A-Za-z0-9][A-Za-z0-9\s-_]*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="VersionDefinition">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{1,4}\.\d{1,4}\.\d{1,4}\.\d{1,4}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="GUID">
    <xs:annotation>
      <xs:documentation>A Guid in the form of XXXXXXXX-XXXX-XXXX-XXXXXXXXXXXX. It may be surrounded by {}'s.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(\{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}\})|([a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12})"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AppPrincipalTypeDefinition">
    <xs:annotation>
      <xs:documentation>The app principal type.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Internal">
        <xs:annotation>
          <xs:documentation>Internal app principal.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="External" >
        <xs:annotation>
          <xs:documentation>External app principal.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AppPrerequisiteTypeDefinition">
    <xs:annotation>
      <xs:documentation>The app prerequisite type.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Feature">
        <xs:annotation>
          <xs:documentation>A SharePoint feature.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AutoProvisioning" >
        <xs:annotation>
          <xs:documentation>A SharePoint AutoProvisioning capability.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Capability" >
        <xs:annotation>
          <xs:documentation>A general capability.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AutoDeployedWebApplicationDebugInfoAppUrlDefinition">
    <xs:annotation>
      <xs:documentation>The type for app URLs of auto deployed web application. If the app has multiple URLs, its value is a list of URLs separated by semicolon or comma.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2048" />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>